
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  background-image: url('http://www.clipartbest.com/cliparts/yTo/aM8/yToaM8pqc.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
h1{
  font-family: 'Sansita', sans-serif;
  font-weight: bolder;
  color: #262020;
  font-size: 65px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 30px;
  padding-top: 60px;
}
h2{
  font-family: 'Sansita', sans-serif;
  color: #262020;
  font-size: 55px;
  text-align: center;
  margin-top: 0;
}
.nav li{
  font-size: 15px;
}

.menu{
  background-color: #021C62;
  height: 600px;
}
h3{
  color: white;
  font-size: 30px;
  padding: 18px;
  font-family: 'Sansita', sans-serif;
}
.menu-list{
  background-color: white;
  margin: 20px;
}
.menu-item, .item{
  padding: 10px;
}
ul{
  color: #024254;
  list-style-type: none;
  padding-left: 0px;
}
.menu-itemTitle, .item-name{
  font-size: 20px;
  font-weight: bold;
  color: #024254;
  text-decoration: none;
}
.price, .item-price{
  float: right;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}
.order-box{
  background-color: #926300;
}
.orders{
  background-color: white;
  margin: 20px;
  height: 450px;
}
.subtotal{
  font-size: 20px;
  font-weight: bold;
  color: #024254;
  text-decoration: none;
  padding: 15px;
}
.btn{
  margin-left: 15px;
}
.delete-btn{
  text-align: right;
}

body{
  background-image: url('http://previews.123rf.com/images/jojoohho/jojoohho1304/jojoohho130400003/18919171-thai-border-background-Stock-Vector-thai-pattern-thailand.jpg');
  font-family: 'Sansita', sans-serif;
}
